
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@AppResource.lbFoodPending</h4>

        <br />
        <br />
        <table id="tblData" class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>@AppResource.lbSerial</th>
                    <th>@AppResource.lbName</th>
                    <th>@AppResource.lbPrice</th>
                    <th>@AppResource.lbUserName</th> 
                    <th>...</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@AppResource.lbSerial</th>
                    <th>@AppResource.lbName</th>
                    <th>@AppResource.lbPrice</th>
                    <th>@AppResource.lbUserName</th> 
                    <th>...</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@section Scripts
    {
    <script src="~/pages/foods/pendingfoods.js"></script>
}

