
<div class="card">
    <div class="card-body">
        <h4 class="card-title">@AppResource.lbGroups</h4>

        <button type="button" class="btn btn-primary" onclick="OpenModel()">@AppResource.lbCreateNew</button>
        <br />
        <br />
        <table id="tblData" class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>@AppResource.lbSerial</th>
                    <th>@AppResource.lbName</th>
                    <th>...</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@AppResource.lbSerial</th>
                    <th>@AppResource.lbName</th>
                    <th>...</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<partial name="GroupsAction.cshtml"></partial>

@section Scripts
{
    <script src="~/pages/authority/groups.js"></script>
    <script src="~/pages/authority/groupsaction.js"></script>
}

